


/* - - - -  full page dark theme - - - -   always at top - - - -   */


:root {
  color-scheme: dark;
  font-family: monospace,sans-serif;
}

input,button {
  font-size: xx-small;
}

/* dark theme set link color white, for blue color use this line*/
a {
  color: revert; /* Restores the default blue color for unvisited links */
}





#letsgo {
  font-size:large; 
  font-weight: bolder; 
  font-family: monospace; 
  font-style: oblique; 
  color:yellow;
}
#current_rest_api_endpoint {
  font-size: large; 
  font-weight: bolder; 
  font-family: monospace; 
  font-style: oblique;
  color:yellow;
}
#login-token {
  font-size: xx-small; 
  font-weight: lighter; 
  font-style: oblique; 
}




/*   - - - -    end - - - -  full page dark theme - - - -   always at top - - - -   */



















  .flex-row {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* border: 1px dotted grey; */
  }


 
  .flex-column {

    display: flex;
    flex-direction: column;
  }



  .font-size-xx-small{
    font-size: xx-small;
  }





/* ---------  both left and right   ---------    nav  --------- */

.horizontal-left-right-flex-container {
  display: flex;
  flex-direction: row;

  width:  1800px;  /*  must set total width, each page decide each part width */
  
  margin-right: auto; /* make sure everything is in the center of page */
  margin-left: auto;  /* make sure everything is in the center of page */ 


}

.horizontal-left-right-width-undefined-container {
  display: flex;
  flex-direction: row;
  margin-right: auto; /* make sure everything is in the center of page */
  margin-left: auto;  /* make sure everything is in the center of page */ 
}


.vertical-width-undefined-box {
  display: flex;
  flex-direction: column;
 /* must define width in inline style    <style=width:  500px;> */
  border: 1px dotted grey;
  /* overflow: scroll; */
  border-radius: 5px;
}





/*   ---------   end  ---------  both left and right   ---------    nav  --------- */






/* ---------  right   ---------    nav  --------- */

.horizontal-right-flex-container {
  display: flex;
  flex-direction: row;
  width:  1900px;  
  
  margin-right: auto; /* make sure everything is in the center of page */
  margin-left: auto;  /* make sure everything is in the center of page */ 


}



.vertical-right-box {
  display: flex;
  flex-direction: column;
  width:  700px; 
  border: 1px dotted grey;
  /* overflow: scroll; */
  border-radius: 5px;


  height: 970px;  /* HD 1020, should not show vertical scroll bar, */
  overflow: auto;
}




/*   ---------   end  ---------  right   ---------    nav  --------- */




/* ---------  left   ---------    nav  --------- */

.horizontal-left-flex-container {
  display: flex;
  flex-direction: row;
  width:  1900px;  
  
  margin-right: auto; /* make sure everything is in the center of page */
  margin-left: auto;  /* make sure everything is in the center of page */ 


}



.vertical-left-box {
  display: flex;
  flex-direction: column;
  width:  700px; 
  border: 1px dotted grey;
  /* overflow: scroll; */
  border-radius: 5px;


  height: 970px;  /* HD 1020, should not show vertical scroll bar, */
  overflow: auto;
}




/*   ---------   end  ---------  left   ---------    nav  --------- */


/* --------- vertical  ---------   only     --------- */


.flex-container {
    display: flex;
    flex-direction: column;
    
    
    margin-right: auto; /* make sure everything is in the center of page */
    margin-left: auto;  /* make sure everything is in the center of page */ 

    width:  1200px;  
   
    
  }
  
  .vertical-width-undefined-flex-container {
    display: flex;
    flex-direction: column;
    
    
    margin-right: auto; /* make sure everything is in the center of page */
    margin-left: auto;  /* make sure everything is in the center of page */
    
    
    border: 1px dotted grey;
    /* overflow: scroll; */
    border-radius: 5px;


    
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
   
  }


  .vertical-width-undefined-no-border{
    display: flex;

    /*flex-wrap: wrap;*/


    flex-direction: column;
    margin-right: auto; /* make sure everything is in the center of page */
    margin-left: auto;  /* make sure everything is in the center of page */

    /*
      No padding because it resize map width to 1183, instead of 1200
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    */
  }
  
  

.top-bar-box {
  display: flex;
  flex-direction: row; 
  
  border: 1px dotted grey;
  /*overflow: scroll; */
  border-radius: 5px;

  justify-content: center;  /* make text div at center of row, horizontal */
  align-items: center;      /* make text div at center of colum, vertical */
}



.padding-5px {

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

}



.padding-3px {

  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;

}





.padding-1px {

  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;

}



/* fixed height */
  .dashboard-box {
    display: flex;
    flex-direction: row;
    /* height: 83px; */
    /* border: 1px dotted grey;*/
    /* overflow: scroll; */
    /* border-radius: 5px;*/
 }

 
 /* not height */
 .dashboard-horizontal-row-flow-box {
  display: flex;
  flex-direction: row;
  /* height: 50px;  define at inline style=height: 50px; */
  /* border: 1px dotted grey;*/
  /* overflow: scroll; */
  /* border-radius: 5px; */

}


  .map-box {
    border: 1px dotted grey;
    border-radius: 5px;
  }





  .info-window-box {
   /* height: 300px;*/
    border: 1px dotted rgba(0, 0, 0, 0) ; 
    border-radius: 5px;
  }


  .info-window-box-scroll-height-undefined {
    /* height: 300px;*/
    /* border: 1px dotted rgba(0, 0, 0, 0) ; */
     border-radius: 5px;
     overflow-y: auto;
   }
  






.search-box {
     
    height: 100px;
    border: 1px dotted grey;
    border-radius: 5px;
    
}







#map{ height: 600px;}  /* for node.js google map*/
#viewDiv{height: 600px;} /* for json2tree esri map */




  .card{

    border: 1px dotted grey;
    border-radius: 5px;
   /*  
       inline style define each card width

       width: 197.66px;   
   
       Total width 1200px - (14x1px border line) / 6(div) = 197.6px per div 
   
   
     */
     display: flex;
     flex-direction: column;


     justify-content: center;  /* make text div at center of row, horizontal */
     align-items: center;      /* make text div at center of colum, vertical */
  }




  .card-horizontal-row-flow{

    border: 1px dotted grey;
    border-radius: 5px;
   /*  
       inline style define each card width

       width: 197.66px;   
   
       Total width 1200px - (14x1px border line) / 6(div) = 197.6px per div 
   
   
     */
     display: flex;
     flex-direction: row;


     justify-content: center;  /* make text div at center of row, horizontal */
     align-items: center;      /* make text div at center of colum, vertical */

    
  }








